body {
	font-family: "Montserrat";
}

* {
	box-sizing: border-box;
	outline: none;
}

.app {
	width: 80%;
	margin: 0 auto;
}

button {
	cursor: pointer;
	font-family: montserrat;
}

a {
	text-decoration: none;
}
